body {
    margin: 0;
    padding: 0;
    background-color: rgba(83, 83, 83, 0.486);
    font-family: Segoe UI, sans-serif;
}

.main {
    background-color: rgba(20, 20, 20, 0.932);
    border-top: 1px solid rgba(20, 20, 20, 0.932);
    border-bottom: 2mm ridge rgba(155, 32, 255, 0.6);

    color:white;
    font-family: Segoe UI, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.main gr {
    color: green;
}

hr {
    border-color: rgb(160, 10, 230);
}
  
.table-style  {
    border-collapse: collapse;
    background: #131313b7;
    box-shadow: 0 5px 50px rgba(0,0,0,0.5);
    cursor: pointer;
    margin: 30px auto;
    border: 2px solid rgb(51, 25, 112);
}

thead tr {
    background-color: rgba(155, 6, 255, 0.932);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: #fff;
}

th, td {
    padding: 15px 20px;
    color: #fff;
    text-align: center;
}

tbody tr, td, th {
    border: 2px solid rgb(220, 200, 236);
}

.table-style or {color: rgb(255, 94, 30); text-shadow: 1px 1px 2px rgb(0, 0, 0)}
.table-style yl {color: rgb(255, 190, 49); text-shadow: 1px 1px 2px rgb(0, 0, 0)}
.table-style rd {color: rgb(238, 18, 18); text-shadow: 1px 1px 2px rgb(0, 0, 0)}
.table-style gr {color: rgb(120, 255, 43); text-shadow: 1px 1px 2px rgb(0, 0, 0)}

tbody tr:nth-child(even){
    background-color: #1b1b1b8a;
}

@media screen and (max-width: 550px) {
  body {
    align-items: flex-start;
  }
  .table-style  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
   } 
  th, td {
    padding: 10px 7px;
   }
}
