body {
    margin: 0;
    padding: 0;
    background-color: rgba(83, 83, 83, 0.486);
    font-family: Segoe UI, sans-serif;
}

.main {
    background-color: rgba(20, 20, 20, 0.932);
    border-top: 1px solid rgba(20, 20, 20, 0.932);
    border-bottom: 2mm ridge rgba(155, 32, 255, 0.6);

    color:white;
    font-family: Segoe UI, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.main gr {
    color: green;
}

.justify {
    margin:10px;
    width: 600px;
    padding: 5px 5px;
    background-color : rgb(121, 37, 255);
    border-radius: 20px;
    text-align: center;
}

.justify h1 {
    font-size: 20px;
}

.justify p {
    font-size: 15px;
}

hr {
    border-color: rgb(160, 10, 230);
}
  
.table-style  {
    border-collapse: collapse;
    background: #131313b7;
    box-shadow: 0 5px 50px rgba(0,0,0,0.5);
    cursor: pointer;
    margin: 30px auto;
    border: 2px solid rgb(51, 25, 112);
}

.table-style choice {
    background-color : green;
}

thead tr {
    background-color: rgba(89, 17, 255, 0.877);
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
    color: #fff;
    text-align: center;
}

tbody tr, td, th {
    border: 1px solid rgb(145, 145, 145);
}

tbody tr:nth-child(even){
    background-color: #1b1b1b8a;
}

@media screen and (max-width: 550px) {
  body {
    align-items: flex-start;
  }
  .table-style  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
   } 
  th, td {
    padding: 10px 7px;
   }
}
